<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="dark">
<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-gray-100 font-sans dark:bg-base dark:text-gray-200">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NB5RJJP5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="flex">
        {{ partial "sidebar.html" . }}
        <main class="flex-grow">
            {{ partial "header.html" . }}
            <div class="container max-w-4xl mx-auto py-12 px-4 md:px-6 fade-in">
              {{ block "main" . }}
              {{ end }}
            </div>
        </main>
    </div>
</body>
</html>